---
import data from "../data/site.ts"
import { Icon } from "astro-icon/components"
---

<footer class="text-white flex items-center text-center flex-col p-10 leading-loose">
        <p>
            &copy; Copyright {new Date().getFullYear()}, QUT Cyber Security Club. All Rights Reserved.<br>
            Designed & Developed by <a href="https://www.linkedin.com/in/liam-andrew-dsouza/" target="_blank" class="text-primary hover:underline"> Liam D'Souza </a>
        </p>

        Built with: 
        <div class="flex gap-4">
            <Icon name="tabler:brand-astro" class="text-primary text-3xl" />
            <Icon name="tabler:brand-tailwind" class="text-primary text-3xl" />
            <Icon name="tabler:brand-typescript" class="text-primary text-3xl" />
        </div>
</footer>

        