---
import Title from "./Title.astro"
import Button from "./Button.astro"
import SponsorCardList from "./SponsorCardList.astro"
---

<div class="mt-40">
    <Title text="Sponsors" icon="tabler:heart-handshake" />

    <span class="text-xl font-semibold">Would you like to be one of our sponsors in 2025?</span>

    <p class="text-lg font-normal mt-4 mb-8">
        Sponsoring our university club provides your company with a unique opportunity to connect directly with a diverse and driven group of future industry professionals, fostering brand visibility and engagement with a tech-savvy audience. 
        By supporting our events and initiatives, you can showcase your commitment to innovation, community development, and talent cultivation, while gaining access to potential recruits and strengthening your company's presence in the academic community.
    </p>

    <Button 
        text="Read our Sponsorship Prospectus" 
        type="link" 
        path="/documents/prospectus.pdf"
        isBordered={ true } 
        isRounded={ true } 
        classes="mb-8"
        icon={ {
            name: "tabler:book",
            side: "left"
        }} 
    />

    <br>



    <span class="text-xl font-semibold">We would also like to thank our current sponsors for their generous support</span>

    <SponsorCardList />
</div>