---
// Import button component and image assets
import Button from "./Button.astro"
import { Image } from "astro:assets"
import logo from "../assets/logo-transparent.png"
---

<div class="flex items-center justify-center flex-col mb-16">
    <Image src={ logo } alt="QUTCSC Logo" class="md:w-1/3" />
    <span class="text-2xl md:text-4xl text-center py-8 md:px-16">
        The Cyber Security Club of the 
        <br> 
        Queensland University of Technology
    </span>
    <div class="flex gap-x-8 md:flex-row flex-col gap-y-4">
        <!-- Rubric Button -->
        <Button 
            text="Become A Member!" 
            type="link" 
            path="https://campus.hellorubric.com/?s=4850"
            isBordered={ true } 
            isRounded={ true } 
            isAnimated={ true } 
            icon={ {
                name: "tabler:chevron-right",
                side: "right"
            }} 
        />
        
        <!-- Discord Button -->
        <Button 
            text="Join Our Discord!" 
            type="link" 
            path="https://discord.gg/Mwhrm2z2DN"
            isBordered={ true }  
            isAnimated={ true } 
            isRounded={ true } 
            icon={ {
                name: "tabler:chevron-right",
                side: "right"
            }} 
        />
    </div>
</div>